{% block sw_order_line_items_grid_grid_actions %}
    {% parent %}

<template #action-modals="{ item }">
    <sw-modal v-if="showRefundModal === item.id"
              @modal-close="onCloseRefundModal"
              :title="$tc('trxps-payments.modals.refund.title')"
              variant="small">

        <p>
            {{ $tc('trxps-payments.modals.refund.content', 0, { quantity: item.quantity, refundableQuantity: refundableQuantity(item) }) }}
        </p>

        <br />

        <sw-number-field numberType="integer"
                         size="medium"
                         :step="1"
                         :placeholder="$tc('trxps-payments.modals.refund.quantityPlaceholder')"
                         :min="0"
                         :value="1"
                         :max="refundableQuantity(item)"
                         v-model="quantityToRefund">
        </sw-number-field>

        <template slot="modal-footer">
            <sw-button @click="onCloseRefundModal" size="small">
                {{ $tc('trxps-payments.modals.refund.cancelButton') }}
            </sw-button>
            <sw-button @click="onConfirmRefund(item)" variant="primary" size="small">
                {{ $tc('trxps-payments.modals.refund.confirmButton') }}
            </sw-button>
        </template>
    </sw-modal>
</template>
{% endblock %}

{% block sw_order_line_items_grid_grid_actions_show %}
    {% parent %}

<sw-context-menu-item :disabled="!isRefundable(item)"
                      icon="default-arrow-360-left"
                      @click="onRefundItem(item)">
    {{ $tc('trxps-payments.general.refundThroughTrxps') }}
</sw-context-menu-item>
{% endblock %}